DATABASE_URL=postgresql://neondb_owner:npg_Oj8ASatkYh7B@ep-fancy-credit-ab52lpdq.eu-west-2.aws.neon.tech/neondb?sslmode=require
SECRET_KEY=django-insecure-=&^=rt!5akush8e3au1z&-_+j^%dueviqpmymr_ci+q(*j)+@m
DEBUG=True