<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Egibide Booking{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'agenda/css/style.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">🏥 Egibide Booking</div>
        <nav>
            <a href="{% url 'dashboard_citas' %}">Dashboard de Citas</a>
            <a href="#">Profesionales</a>
            <a href="{% url 'lista_clientes' %}">Clientes</a>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>&copy; 2026 Egibide Booking Services S.L. - Proyecto SGE</p>
    </footer>
</body>
</html>