{% extends 'agenda/base.html' %}

{% block title %}{{ accion }} - Egibide Booking{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{{ accion }}</h2>

    <form method="POST" class="formulario-estilizado">
        {% csrf_token %}
        <div class="grid-form">
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <span class="error-text">{{ field.errors|striptags }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="acciones-form">
            <a href="{% url 'lista_clientes' %}" class="btn btn-small">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}